<div class="container">
   <div class="row">
    <div class="box">
        <div class="col-lg-12 text-center">
            <div id="carousel-example-generic" class="carousel slide">
                <!-- Indicators -->
                <ol class="carousel-indicators hidden-xs">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <% page.banner.slides.eachWithIndex { slide, idx -> %>
                        <div class="item${idx == 0 ? ' active' : ''}">
                            <img class="img-responsive img-full" src="${r slide}" alt="">
                        </div>
                    <% } %>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="icon-next"></span>
                </a>
            </div>
            <h2 class="brand-before">
                <small>${page.banner.brand_before}</small>
            </h2>
            <h1 class="brand-name">${page.banner.brand_name}</h1>
            <hr class="tagline-divider">
            <h2>
                <small>${markdown(page.banner.brand_after)}</small>
            </h2>
        </div>
    </div>
</div>
</div>